.mob-menu {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  //   padding: 48px 40px;
  > .mob-container {
    width: 100%;
    // margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
}
// .mob-container {
//   //   margin: 0 auto;
// }

.menu-open-button {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
  @include tablet {
    display: none;
  }
}
.menu-close-button {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
}
.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mob-nav-link {
  display: block;
  color: $primaryColor;
  @include font(500, 8.3vw, 1.18, 0.02em);
  transition: color $timingFunction;
  @include mobile {
    @include font(500, 40px, 1.18, 0.02em);
  }

  &:hover,
  &:focus {
    color: $accent;
  }
}
.mob-mail-link {
  display: block;
  color: $accent;
  @include font(500, 7vw, 1.18, 0.02em);
  margin-bottom: 32px;
  @include mobile {
    @include font(500, 34px, 1.18, 0.02em);
  }
}

.mob-smartphone-link {
  display: block;
  color: $textColor;
  @include font(500, 5vw, 1.18, 0.02em);

  margin-bottom: 64px;
  @include mobile {
    @include font(500, 24px, 1.17, 0.02em);
  }
}
.mob-social-list {
  display: flex;
  gap: 10px;
}
.mob-social-item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
}
.mob-social-link {
  display: block;
  color: $accent;
  @include font(500, 3.75vw, 1.18, 0.02em);

  @include mobile {
    @include font(500, 18px, 1.22, 0.02em);
  }
}
