html {
  box-sizing: border-box;
}

body {
  background-color: $whiteColor;
  color: $primaryColor;
  font-family: "Roboto", sans-serif;

  line-height: 1.71;
  letter-spacing: 0.03em;
}
.no-scroll {
  overflow: hidden;
}
